<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Meet the Developers</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body class="dev-body">
  <div class="container">
    <h1>MEET THE DEVELOPERS</h1>
    <div class="dev-cards">
      <a href="https://www.linkedin.com/in/chennareddy-monish-reddy-2712a6283" class="dev-card">Monish</a><br>
      <a href="https://www.linkedin.com/in/puchalapalli-harshitha-a481172a8" class="dev-card">Harshitha</a><br>
      <a href="https://www.linkedin.com/in/lakshmi-lasya-gurram-641592275" class="dev-card">Lasya</a>
    </div><br>
    <a href="{{ url_for('index') }}" class="back-button">Back to Home</a>
  </div>
</body>
</html>
