<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
main
  <title>Deepfake Detector - Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <img src="{{ url_for('static', filename='images/img 2.jpg') }}">

  <title>Deepfake Detector</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="icon">🔍</div>
    <h1><i class="fa fa-bold">DEEPFAKE DETECTOR</i></h1>
    <p>Upload an image or video to check if it's real or fake </p>
    
    <form id="upload-form" method="POST" enctype="multipart/form-data">
      <label class="upload-btn">
        <input type="file" name="file" id="file-input" required onchange="previewFile()">
      </label><br>
      <button type="submit">Detect</button>
    </form>
    <!-- Preview Area -->
    <div id="preview-container"></div>
main

</head>   
<body>
  <div class="top-nav">
    <a href="{{ url_for('detector') }}">Detector</a>
    <a href="{{ url_for('info') }}">Information</a>
    <a href="{{ url_for('developers') }}">Developers</a>
  </div>
   <div class="container">
    <h1><B><strong>WELCOME TO THE REAL WORLD</strong></B></h1>
  </div>
</body>
</html>
