<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deepfake Detector - Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

</head>   
<body>
  <div class="top-nav">
    <a href="{{ url_for('detector') }}">Detector</a>
    <a href="{{ url_for('info') }}">Information</a>
    <a href="{{ url_for('developers') }}">Developers</a>
  </div>
   <div class="container">
    <h1><B><strong>WELCOME TO THE REAL WORLD</strong></B></h1>
  </div>
</body>
</html>
